.about {
    margin: 30px 0px;
    padding: 20px;
    padding-left: 200px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.about-img img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content h1{
    color: rgb(255, 162, 178);
    font-family: cursive;
    border-bottom: 2px solid pink;
    text-align: center;
}

.about-content p {
    text-align: justify;
    padding: 20px;
}


/* ==========DARK MODE========== */

#dark .about {
    box-shadow: none;
    background-color: rgb(0, 0, 0, 0.15)
}

#dark .about-content h1{
    color: #b0a4a4;
    border-bottom: 2px solid #b0a4a4;
}

/* ============MEDIA QURIES RESPONSIVE========== */

@media(max-width: 600px) {
    .about {
        margin: 0;
        padding: 0;
    }
    .about-content {
        margin-top: 10px;
    }
}