.contact {
    margin-bottom: 60px;
    margin-left: 100px;
    padding-top: 150px;
    background-color: rgba(128, 128, 128, 0.11);
    border-radius: 0%;
}

.card0 {
    box-shadow: 0px 4px 8px 0px;
}

.card {
    margin: opx 40px;
}

.card1 .image {
    margin-top: 10px; 
    height: 300px;
    width: 100%;
}
.border-line{
    border-right: 1px solid #e0e0e0;
}
.line {
    height: 1px;
    width: 45%;
    background-color: #e0e0e0;
    margin-top: 10px;
}

.or {
    display: flex;
    width: 10%;
    font-weight: bold;
}

::placeholder {
    color: #bdbdbd;
    opacity: 1;
    font-weight: 300;
}

input, textarea {
    padding: 10px 12px;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin-top: 5px;
    width: 100%;
    color: #138781;
    font-size: 1rem;
    letter-spacing: 1px;
}

input:focus, textarea:focus {
    box-shadow: none !important;
    outline: 1px solid #138781;
    outline-width: 0px;
}

.button:focus {
    box-shadow: none;
    outline-width: 0px;
}

.button {
    background-color: #1e1e2c;
    color: white;
    border-radius: 2px;
    margin-top: 15px;
    padding: 10px;
}

/* ============MEDIA QURIES RESPONSIVE========== */

@media(max-width: 600px) {
    .contact {
        margin: 0;
        padding: 0;
        margin-top: 50px;
        padding-top: 20px;
    }

    .contact .card2 {
        margin: 0;
    }
        .contact .card2 h6 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
}