.work {
    background-color: #1387812a;
    margin-left: 100px;
    padding-top: 50px;
    margin-top: 150px;
}
.work-exp hr {
    color: #138781;
    width: 400px;
    margin: 10px auto;
}

.work-exp h2 {
    color: #138781;
    font-weight: bold;
}

.education .vertical-timeline-element-title {
    color: #1387812a;
}

/* ============MEDIA QURIES RESPONSIVE========== */

@media(max-width: 600px) {
    .work {
        margin: 0;
        padding: 0;
        margin-top: 50px;
        padding-top: 10px;
    }

    .work hr {
        width: 290px;
    }
}