.home-container {
    height: 250px;
    color: white;
    margin-left: 100px;
}

.home-content h2{
    padding: 5px;
    padding-top: 40px;
}

.home-content h1 {
    color: rgb(240, 240, 18);
    padding: 5px;
}

.home-buttons {
    margin-top: 10px;
 } 
.home-buttons .btn-hire {
    background-color: #3b8ff3;
    color: white;
    width: 160PX;
}

.home-buttons .btn-hire:hover {
    background-color: white;
    color:#3b8ff3;
    width: 200PX;
}

.home-buttons .btn-cv {
    background-color: #f29f67;
    color: white; 
    margin-left: 15px;
}

.home-buttons .btn-cv:hover {
    opacity: 80%;
    transition: 1s;

}

.theme-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #1e1e1e;
    margin-top: 20px;
    text-align: center;
    right: 0;
    position: fixed;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}

/* MEDIA QURIES AND RESPONSIVE */
@media(max-width: 600px) {
    .home-container {
        padding: 0px;
        margin: 0;
        margin-top: 50px;
    }

    .home-container h2, h1{
        font-size: 24px;
    }
}