.project {
    margin: 200px;
    margin: 50px 0px;
    padding-left: 170px;
    padding-top: 50px;
}

.project hr {
    color: #138781;
    width: 400px;
    margin: 10px auto;
}

.project h2 {
    color: #138781;
    font-weight: bold;
}

#ads {
    margin:  30px 0 30px 0;
}
#ads .card-notify-badge {
    position: absolute;
    left: -10px;
    top: -20px;
    background-color: #f29f67;
    text-align: center;
    border-radius: 30px;
    color: black;
    padding: 5px 10px;
    font-size: 14px;

}

.project .card img {
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
}

.project .card-detail-badge {
    color: black;
    background-color: yellow;
    text-align: center;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 14px;
}

.project .card-image-overlay span {
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
}


.project .card:hover{
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    transition: all 1s ease;
}

.ad-btn {
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    display: block;
    text-align: center;
    background-color: #138781;
    border-radius: 80px;
    font-size: 16px;
    text-decoration: none;
    line-height: 35px;
    margin: 20px auto 20px auto;
    color: black;
    overflow: hidden;
    position: relative;

}

.ad-btn:hover {
    background-color: white;
    color: #138781;
    background: transparent;
    border: 2px solid #138781;
    transition: all 0.5s ease;
    box-shadow: (17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

/* ============MEDIA QURIES RESPONSIVE========== */

@media(max-width: 600px) {
    .project {
        margin: 0;
        padding: 0;
        margin-top: 50px;
    }

    .project hr {
        width: 290px;
    }

    .project p {
        text-align: center;
        font-size: 20px;
    }
    .project .card {
        margin-top: 30px;
    }
}