body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#dark {
  background-color: #5f264a;
  color: #f4eee0;
}

/* ============MEDIA QURIES RESPONSIVE========== */

@media(max-width: 600px) {
  .footer {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}